.nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 4;
}

.hamburger {
    padding: 0 15px;
    & > div {
        width: 20px;
        height: 2px;
        background-color: #fff;
    }
    
    & > :not(:last-child) {
        margin-bottom: 3px;
    }
}

.logo {
    padding: 0 25px;
    width: calc(100vw - 120px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    & > img {
        height: 95%;
    }

    @media (max-width: 1023px) {
        width: 100%;
        padding: 0 10px;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;
    height: 100vh;
    width: 256px;
    background-color: #ffffff; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s linear;
}

.menu-item, .close-btn {
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 500;
}

.close-btn {
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
}

.lang-btn {
    height: 22px !important;
    width: 42px !important;
    border: 1px solid #000;
}

