.gallery{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.gallery-title {
    padding: 10px;
    height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-main {
        font-family: var(--font-family-playfair);
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 767px) {
            font-size: 3rem;
        }
    }

    &-sub {
        width: calc(100vw - 20px);
        max-width: 580px;
        font-weight: 500;
        text-align: center;
        color: #7a7a7a;

        @media (max-width: 767px) {
            font-size: 1.3rem;
        }
    }
}


.gallery-container {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-grid {
    width: 960px;
    height: 960px;
    padding: 10px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas:
        "item1 item2 item3"
        "item4 item2 item5"
        "item4 item6 item7";

    @media (max-width: 1023px) {
        width: 820px;
        height: 820px;
    }

    @media (max-width: 767px) {
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7";
    }

    &-item {
        position: relative;
        margin: 15px;
        width: 100%;
        height: auto;
        border-radius: 4px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &>img {
            width: calc(100% - 30px);
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 30px);
            height: 100%;
            background-color: #000000;
            opacity: 0.3;
            border-radius: 4px;
            transition: all 0.2s ease-in-out;
        }

        &-title {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 30px);
            height: 100%;
            padding: 30px;
            color: var(--text-white);
            z-index: 2;
            font-weight: 600;

            &-sub {
                font-size: 1.2rem;
            }

            &-main {
                font-size: 2rem;
            }
        }

        &:hover::after {
            opacity: 0;
        }
    }
}

.item {
    &-1 {
        grid-area: item1;
    }

    &-3 {
        grid-area: item3;
    }

    &-5 {
        grid-area: item5;
    }

    &-6 {
        grid-area: item6;
    }

    &-7 {
        grid-area: item7;
    }

    &-2 {
        grid-area: item2;
    }

    &-4 {
        grid-area: item4;
    }

    &-2,
    &-4 {
        width: calc(100% - 30px);
        height: calc(100% - 30px);

        &>img {
            width: 100%;
            height: 100%;
        }

        .overlay {
            width: 100%;
            height: 100%;
        }

        &-title {
            width: 100%;
            height: 100%;
        }
    }
}

.animate {
    animation: blur 5s linear forwards;
}

@keyframes blur {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 0.3;
    }
    90% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.3;
    }
}