.language-btn-wrapper {
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
}

.language-btn {
    padding: 4px;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.language{
    margin-right: 8px;
    font-size: 14px;
}

.arrow {
    width: 10px;
    height: 10px;
}

.languages-tooltip {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.languages-title{
    padding: 10px;
    font-size: 1.4rem;
    color: #000;
}

.languages-container{
    padding: 0 0 10px;
}

.item {
    width: 150px;
    height: 40px;
    padding: 0 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: #dadada;
    }

    & > .language {
        color: #000;
    }
}