.container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#ff6901, #ee0977);
    border-radius: 50%;
    z-index: 9999;

    @media (max-width: 767px) {
        bottom: 20px;
        left: 10px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        background-image: linear-gradient(#ff6901, #ee0977);
        border-radius: 50%;
        z-index: 9997;
        animation: zoom 1s ease-in-out infinite forwards;
    }
}

@keyframes zoom {
    0% {
        width: 100%;
        height: 100%;
        opacity: 0.8;
    }

    100% {
        width: 130%;
        height: 130%;
        opacity: 0;
    }
}

.wrapper {
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    z-index: 9999;
}

.slider {
    width: 100%;
    height: 100%;
    
    .slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #ee0977;
}

.tooltip-container {
    padding: 0 15px;
}

.tooltip-item {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(#ff6901, #ee0977);
    border-radius: 4px;

    & > a {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;

        & > .icon {
            margin-right: 8px;
            color: #fff;
        }
    }
}