.product {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.product-container {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    padding: 10px;
    height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-main {
        font-family: var(--font-family-playfair);
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 767px) {
            font-size: 3rem;
        }
    }

    &-sub {
        width: calc(100vw - 20px);
        max-width: 580px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: #7a7a7a;

        @media (max-width: 767px) {
            font-size: 1.3rem;
        }
    }
}

.product-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-items {
    width: 90%;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: auto;

    @media (max-width: 1023px) {
        width: auto;
        grid-template-columns: repeat(2, 50%);
        max-width: 90vw;
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 100%);
    }
}

.load-more {
    padding: 8px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.price-table {
    width: 100%;
    margin: 60px 0 30px;
}

.table {
    margin: 0 auto;
    width: 80%;
    border-spacing: 0;
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media (max-width: 1023px) {
        width: 95%;
    }

    @media (max-width: 767px) {
        font-size: 1.4rem;
    }

    & > thead, & > tbody {
        & > tr {
            text-align: center;

            & > th, & > td {
                padding: 5px 0;
            }
        }
    }

}

.header {
    background-color: #1b4229;
}

.row1,
.row3 {
    color: #000;
    background-color: #f6f698;
}
.row2, .row4 {
    background-color: var(--primary-color);
}

.note {
    font-size: 1.4rem;
}

.show-form-btn {
    margin-top: 20px;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    background-color: #ca473b;
    border-radius: 3rem;
    cursor: pointer;
    animation: zoom-in 1s ease-in-out infinite;

    @media (max-width: 767px) {
        font-size: 1.4rem;
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(110%);
    }
    100%{
        transform: scale(100%);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9994;
    background-color: rgba(0, 0, 0, 0.3);
}

.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
    z-index: 9995;
}

.close-form {
    margin-right: 5px;
    padding: 0 10px;
    font-size: 2.4rem;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}