.videos-title {
    padding: 10px;
    height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-main {
        font-family: var(--font-family-playfair);
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 767px) {
            font-size: 3rem;
        }
    }

    &-sub {
        width: calc(100vw - 20px);
        max-width: 580px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: #7a7a7a;

        @media (max-width: 767px) {
            font-size: 1.3rem;
        }
    }
}

.videos {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.videos-container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-video > iframe {
    width: calc(100vw - 20px);
    height: calc(9 * (100vw - 20px) / 16);
    max-width: 1140px;
    max-height: calc(9 * 1140px / 16);
}

.videos-slider {
    margin: 20px 0 50px 0;
    width: calc(100vw - 20px);
    max-width: 1140px;
}

.video-slide > img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}