.container {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    object-fit: cover;
    width: 100%;
}

.des {
    margin-top: 10px;
    font-style: italic;
}