.infor {
    padding: 0 65px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 35px;
    background-color: #132e1d;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1023px) {
        padding: 0 35px;
    }

    &-container {
        width: 100%;
        max-width: 1180px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.personal-infor,
.personal-social-network {
    display: flex;
}

.infor-item {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--font-family-roboto);
    font-weight: 300;
    line-height: 25px;
    color: var(--text-white);
    cursor: pointer;

    &>svg {
        height: 15px;
        width: 15px;
    }

    &>span {
        margin-left: 5px;
    }

    &:hover {
        color: #77c720;
    }

    &:hover > svg > path {
        fill: #77c720;
    }
}