.back-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 95px;
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-white);
    font-size: 1.6rem;
    border-radius: 4px;
    z-index: 9998;
    cursor: pointer;

    &:hover > a {
        color: var(--text-white);
    }

    @media (max-width: 767px) {
        bottom: 20px;
        right: 15px;
    }
}